@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
}


/* Estrutura semantica de uma tabela 

<table>
caption - legenda

thead {
    th > tr > td
}

tbody {
    th > tr > td
}

tfoot {
    th > tr > td
}

</table>
*/

/* criando efeito zebrado

tbody > tr:nth-child(2n){
    bacgroud-color:;
}
ou usar odd even

tbody > tr:nth-child(odd){
    bacgroud-color:;
}

*/

caption {
    background-color: lightgray;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

thead {
    height: 30px;
    border: 1px solid black;
}

thead,tfoot {
    background-color: gray;
    color:white;
}

tbody > tr:nth-child(2n){
    background-color:rgba(128, 128, 128, 0.411)
}
.numero {
    text-align: right;
}

.total-numero {
    font-weight: bold;
    text-align: right;
    color: black;
   
}


table {
    width: 500px;
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: 50px;
}

tr,td {
    padding: 5px 6px;
    border: 1px solid black;
    
}